 <!DOCTYPE html>
 <html lang="en-US">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="format-detection" content="telephone=no">

        <title>New Life Church</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat:400,700|Lato:300,300i,400,400i,700,700i|Raleway:300,300i,400,400i,700,700i&amp;subset=latin-ext">
        <link rel="stylesheet" href="css/fontello/css/fontello.css" type="text/css" media="all" />

        <link rel="stylesheet" href="js/vendor/essential-grid/css/settings.css" type="text/css" media="all" />
        <link rel="stylesheet" href="js/vendor/essential-grid/css/lightbox.css" type="text/css" media="all" />
        <link rel="stylesheet" href="css/tpl-essential-grids.min.css" type="text/css" media="all" />

        <link rel="stylesheet" href="js/vendor/revslider/css/settings.css" type="text/css" media="all" />
        <link rel="stylesheet" href="css/plugin.revslider.min.css" type="text/css" media="all" />

        <link rel="stylesheet" href="css/style.min.css" type="text/css" media="all" />
        <link rel="stylesheet" href="css/core.animation.min.css" type="text/css" media="all" />
        <link rel="stylesheet" href="css/shortcodes.min.css" type="text/css" media="all" />

        <link rel="stylesheet" href="css/plugin.instagram-widget.min.css" type="text/css" media="all" />
        <link rel="stylesheet" href="js/vendor/html5-jquery-audio-player/css/style.css" type="text/css" media="all" />
        <link rel="stylesheet" href="css/plugin.html5-jquery-audio-player.min.css" type="text/css" media="all" />

        <link rel='stylesheet' href='js/vendor/swiper/swiper.min.css' type='text/css' media='all' />

        <link rel="stylesheet" href="css/skin.min.css" type="text/css" media="all" />
        <link rel="stylesheet" href="css/responsive.min.css" type="text/css" media="all" />

        <link rel="stylesheet" href="css/core.messages.min.css" type="text/css" media="all" />
        <link rel="stylesheet" href="js/vendor/magnific/magnific-popup.min.css" type="text/css" media="all" />

        <link rel="icon" href="http://placehold.it/32x32" />
        <link rel="icon" href="http://placehold.it/32x32" />
        <link rel="apple-touch-icon-precomposed" href="http://placehold.it/32x32" />
        <script src="https://www.w3schools.com/lib/w3.js"></script>
    </head>
   <body>
    <header class="top_panel_wrap top_panel_style_3 scheme_original">
        <div class="top_panel_wrap_inner top_panel_inner_style_3 top_panel_position_above">
            <!-- Menu area -->
            <div class="top_panel_middle">
                <div class="content_wrap">
                    <!-- Contact logo -->
                    <div class="contact_logo">
                        <div class="logo">
                            <a href="index.html">
                                <img src="/images/logo.png" class="logo_main" alt="">
                                <img src="/images/logo.png" class="logo_fixed" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- /Contact logo -->
                    <!-- Main Menu -->
                    <div class="menu_main_wrap">
                        <nav class="menu_main_nav_area">
                            <ul id="menu_main" class="menu_main_nav">
                                <!-- Home -->
                                <li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children">
                                    <a href="index.html">Homed</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item current-menu-item">
                                            <a href="index.html">Home 1</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="homepage-2.html">Home 2</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="homepage-3.html">Home 3</a>
                                        </li>
                                    </ul>
                                </li>
                                <!-- /Home -->
                                <!-- Pages -->
                                <li class="menu-item menu-item-has-children">
                                    <a href="#">Pages</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item">
                                            <a href="about-us.html">About Us</a>
                                        </li>
                                        <li class="menu-item menu-item-has-children">
                                            <a href="#">Features</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item">
                                                    <a href="typography.html">Typography</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="shortcodes.html">Shortcodes</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item">
                                            <a href="page-404.html">404 Page</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="events-calendar.html">Events Calendar</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="shop.html">Shop</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="contacts.html">Contacts</a>
                                        </li>
                                    </ul>
                                </li>
                                <!-- /Pages -->
                                <!-- Events -->
                                <li class="menu-item">
                                    <a href="events.html">Events</a>
                                </li>
                                <!-- /Events -->
                                <!-- Sermons -->
                                <li class="menu-item menu-item-has-children">
                                    <a href="#">Sermons</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item">
                                            <a href="sermons.html">All Sermons</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="sermons-boxed.html">Sermons Boxed</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="sermons-fullscreen.html">Sermons Fullscreen</a>
                                        </li>
                                    </ul>
                                </li>
                                <!-- /Sermons -->
                                <!-- Gallery -->
                                <li class="menu-item menu-item-has-children">
                                    <a href="#">Gallery</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item">
                                            <a href="gallery-grid.html">Grid Gallery</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="gallery-cobbles.html">Cobbles Gallery</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="gallery-masonry.html">Masonry Gallery</a>
                                        </li>
                                    </ul>
                                </li>
                                <!-- /Gallery -->
                                <!-- Blog -->
                                <li class="menu-item">
                                    <a href="post-formats.html">Blog</a>
                                </li>
                                <!-- /Blog -->
                                <!-- Donate -->
                                <li class="donate-btn menu-item">
                                    <a href="donate-now.html">Give</a>
                                </li>
                                <!-- /Donate -->
                            </ul>
                        </nav>
                    </div>
                    <!-- /Main Menu -->
                </div>
            </div>
            <!-- /Menu area -->
        </div>
    </header>

    <script type="text/javascript" src="js/jquery/jquery.js"></script>
    <script type="text/javascript" src="js/jquery/jquery-migrate.min.js"></script>

    <script type="text/javascript" src="js/vendor/photostack/modernizr.min.js"></script>
    <script type="text/javascript" src="js/_main.min.js"></script>
    <script type="text/javascript" src="js/_packed.js"></script>

    <script type="text/javascript" src="js/vendor/essential-grid/js/lightbox.js"></script>
    <script type="text/javascript" src="js/vendor/essential-grid/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="js/vendor/essential-grid/js/jquery.themepunch.essential.min.js"></script>
    <script type="text/javascript" src="js/essential-grid-homepage-1.min.js"></script>

    <script type="text/javascript" src="js/vendor/revslider/jquery.themepunch.revolution.min.js"></script>

    <script type="text/javascript" src="js/vendor/revslider/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="js/vendor/revslider/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="js/vendor/revslider/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="js/revslider-homepage-1.min.js"></script>

    <script type="text/javascript" src="js/vendor/html5-jquery-audio-player/jquery-jplayer/jquery.jplayer.js"></script>
    <script type="text/javascript" src="js/ttw-musicplayer-homepage-1.min.js"></script>

    <script type="text/javascript" src="js/superfish.min.js"></script>
    <script type="text/javascript" src="js/core.utils.min.js"></script>
    <script type="text/javascript" src="js/core.init.min.js"></script>
    <script type="text/javascript" src="js/template.init.min.js"></script>

    <script type="text/javascript" src="js/shortcodes.min.js"></script>
    <script type="text/javascript" src="js/core.messages.min.js"></script>
    <script type="text/javascript" src="js/vendor/magnific/jquery.magnific-popup.min.js"></script>

    <script type="text/javascript" src="js/countdown/jquery.plugin.min.js"></script>
    <script type="text/javascript" src="js/countdown/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="js/vendor/swiper/swiper.min.js"></script>
    <script type="text/javascript" src="js/vendor/isotope/dist/isotope.pkgd.min.js"></script>
   </body>
 </html>